{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "usage",
      "corejs": "3.9"
    }]
  ],
  "env": {
    "cj": {
      "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", {
          "modules": "commonjs",
          "useBuiltIns": "usage",
          "corejs": "3.9"
        }]]
    }
  }
}
