{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": false
    },
    "useJSXTextNode": true,
    "project": "./tsconfig-for-eslint.json",
    "tsconfigRootDir": "."
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx", ".js", ".jsx", ".d.ts"]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "jest/globals": true
  },
  "globals": {
    "window": false,
    "document": false
  },
  "plugins": [
    "@typescript-eslint",
    "react-hooks",
    "jest"
  ],
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
    "import/prefer-default-export": 1,
    "import/no-extraneous-dependencies": ["warn"],
    "@typescript-eslint/no-empty-interface": [
      "warn",
      {
        "allowSingleExtends": true
      }
    ],
    "@typescript-eslint/explicit-function-return-type": [
      "off"
    ],
    "@typescript-eslint/explicit-member-accessibility": [
      "off"
    ],
    "camelcase": 0,
    "quotes": "error",
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-var-requires": ["off"],
    "global-require": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "no-use-before-define": "off",
	"import/extensions": [
	  "error",
	  "ignorePackages",
	  {
		"js": "never",
		"jsx": "never",
		"ts": "never",
		"tsx": "never"
	  }
	]
  }
}
